* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.row::after {
    content:'';
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.cursor {
    cursor: pointer;
}

.container {
    width: 100%;
    height: calc(100vh - 100px);
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

/* header */
header {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
    align-items: start;
}

.bt-upgrade {
    position: fixed;
    width: 190px;
    height: 35px;
    color: white;
    border: 1px #fff solid;
    border-radius: 50px;
    text-align: center;
    vertical-align: baseline;
    font-size: 10px;
    font-weight: 700;
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 15px 5px;
}


/* sidebar */
.sidebar {
    width: 200px;
    height: calc(100vh - 100px);
    background-color: #000;
    z-index: -1;
}  

.logo {
    background: url('../img/logo.svg') no-repeat; 
    background-size: 120px;
    width: 200px;
    height: 60px;
    margin-top: 15px;
    margin-left: 20px;
}

.sb-items {
    font-size: 11px;
}

.sb-item {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 150px;
}

.sb-item.sb-library {
    margin-bottom: 20px;
}

.sb-item, .sb-playlist {
    padding-left: 20px;
    margin-bottom: 10px;
}

.sb-item > img { 
    width: 20px;
}

.sb-text {
    width: 100px;
    margin-left: 5px;
    color: #767676;
    font-weight: 600;
    font-size: 11px;
}

.sb-playlist h3 {
    text-transform: uppercase;
    color: #fff;
}
 
.sb-playlist-plus,
.sb-playlist-new {
    float: left;
    height: 35px;
    margin: 10px 0 ;
}

.sb-playlist-plus {
    width: 35px;
    background-color: #a3a3a3;
    font-size: 30px;
    font-weight: 500;
}

.sb-playlist-new {
    font-size: 13px;
    text-transform: capitalize;
}

.sb-playlist-plus,
.sb-playlist-new {
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.sb-playlist-name {
   margin: 15px 0;
}

/* main */
main {
    width: 100%;
    height: calc(100vh - 100px);
    overflow: scroll;
    background-color: #141921;
}

footer {
    width: 100%;
    height: 100px;
    background-color: peru;
    z-index: 8;
}

/* mobile */
@media screen and (max-width: 575px) {
    .sidebar {
        width: 70px;
        max-width: 250px; 
    }

    .logo {
        height: 40px;
        background: url('../img/logo-small.svg') no-repeat;
        background-size: 25px;
        margin-top: 5px;
    }

    .sb-item {
        margin-bottom: 5px;
    }

    .sb-text, 
    .sb-playlist {
        display: none;
    }
}